.progress {
  --progress: 1;

  position: relative;
  width: 100%;
  height: 3em;
  background: #222;
  border-radius: 0.3em;
  overflow: hidden;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #89ed53;
  scale: var(--progress) 1;
  transform-origin: top left;
}
